<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Handlebars engine</title>
</head>
<style>
  input {
    margin-bottom: 10px;
    height: 30px;
    border: 1px solid #0e0e0e;
    border-radius: 2px;
    outline: none;
    padding: 5px;
  }

  button {
    width: 160px;
    padding: 5px;
    height: 30px;
  }

</style>

<body>
  <a href="/">На главную</a>
  <h1>{{user.name}}</h1>

  <div style="
    display: flex;
    justify-content: space-between;
    width: 400px;
    gap: 30px;
  ">
    <div class="img-block">
      <img width="200" src={{user.avatar}} alt={{user.username}}>
    </div>
    <div class="data-block" style="display: flex; flex-direction: column;">
      <input type="text" name="name" placeholder="name" value={{user.name}} />
      <input type="hidden" name="username" placeholder="username" value={{user.username}} />
      <input type="text" name="city" placeholder="city" value={{user.city}} />
    </div>
  </div>

  <div class="hobbies">
    <div>
      <input type="text" name="hobby" placeholder="type your hobby">
      <button type="button" id='sendHobby'>
        Send
      </button>
    </div>
    <ul>
      {{#each user.hobbies as |hobby|}}
      <li>
        {{hobby}}
      </li>
      {{/each}}
    </ul>
  </div>
 
  <script>
    // Получение хтмл элемента
    const name = document.querySelector('input[name="name"]')
    const username = document.querySelector('input[name="username"]')
    const city = document.querySelector('input[name="city"]')

  // Функция для запроса
    const customFetch = (body, method = 'PUT') => {
      fetch('http://localhost:3000/api/user/' + username.value, {
        method: method,
        body: JSON.stringify(body),
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then(() => {
          window.location.reload()
        })
    }

    // Привязка события blur | 'click'
    name.addEventListener('blur', () => {
      customFetch({ name: name.value })
    })
    username.addEventListener('blur', () => {
      customFetch({ username: username.value })
    })
    city.addEventListener('blur', () => {
      customFetch({ city: city.value })
    })
  </script>
</body>

</html>